<mat-toolbar color="primary">
    <mat-icon>sports_soccer</mat-icon>
    Score counter
</mat-toolbar>

<mat-card class="mat-elevation-z8">
    <div class="header-wrapper">
        <h1>Current score</h1>
    </div>
    <div class="score-wrapper">
        <button mat-mini-fab color="primary" (click)="decrement('home')">
            <mat-icon>exposure_neg_1</mat-icon>
        </button>
        <button mat-mini-fab color="primary" (click)="increment('home')">
            <mat-icon>exposure_plus_1</mat-icon>
        </button>
        <mat-card class="mat-elevation-z2 score-card">
            <mat-card-header>
                <mat-card-title>HOME</mat-card-title>
            </mat-card-header>
            <span class="score">{{ home$ | async }}</span>
        </mat-card>
        <span class="score-divider">:</span>
        <mat-card class="mat-elevation-z2 score-card">
            <mat-card-header>
                <mat-card-title>AWAY</mat-card-title>
            </mat-card-header>
            <span class="score">{{ away$ | async }}</span>
        </mat-card>
        <button mat-mini-fab color="primary" (click)="increment('away')">
            <mat-icon>exposure_plus_1</mat-icon>
        </button>
        <button mat-mini-fab color="primary" (click)="decrement('away')">
            <mat-icon>exposure_neg_1</mat-icon>
        </button>
    </div>
    <div class="actions-wrapper">
        <button mat-stroked-button color="primary" (click)="reset()">
            <mat-icon>clear</mat-icon>
        </button>
    </div>
</mat-card>